.background-color{
    background-color: #f1f3f2;
}

.center img{
    position: relative;
    width: 800px;
    height: 800px;
}

footer{
    color: #f1f3f2;
    position: fixed;
    bottom: 0px;
    width: 100%;
}