.background-color{
    background-color: #f1f3f2;
}

/* Jumbotron */
.jumbotron {
    background-image: url("./wallpaper.jpg");
    background-position: top;
    background-repeat: no-repeat;
    color: #f1f3f2;
    width: 100%;
    top: 0px;
    position: relative;
}

#name{
    max-width: fit-content;
    display: inline-block;
    padding-left: 20%;
}

.img{
    display: inline-block;
    max-width: fit-content;
}

.imgRedonda {
    display: inline-block;
    width:200px;
    height:200px;
    border-radius:150px;
}

/* Estilo de los acordeones y sus tarjetas */
#acordeones {
    padding-left: 5%;
}

.accordion1{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5%;
}

.accordion2{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5%;
}

.btn:hover{
    background-color: #999999;
}

.btn{
    width: 100%;
    text-align: left;
}

li{
    list-style-type: none;
}

#yellow-card{
    border-left: solid 2px #404044;
    border-right: solid 2px #404044;
}

#btn-yellow-text{
    color: #404044;
}

#green-card{
    border-left: solid 2px #404044;
    border-right: solid 2px #404044;
}

#btn-green-text{
    color: #404044;
}

#red-card{
    border-left: solid 2px #404044;
    border-right: solid 2px #404044;
}

#btn-red-text{
    color: #404044;
}

.card-header{
    background-color: #f1f3f2;
}

/* Redes sociales */
.center {
    display: table;
    width: 100%;
    padding-bottom: 5%;
}

#social-test {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
}

.social {
    padding-left: 0px;
}

.social li {
    display: inline-block;
}

li a {
    color: #404044;
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 1%;
    border: 1px solid #404044;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
}
li a:hover {
    color: #999999;
    border: 1px solid #999999;
}
  

/* Footer */
footer {
    color: #f1f3f2;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align-last: center;
}